---
import PreviewPosts from '../../components/PreviewPosts.astro'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'

const allPosts = await Astro.glob('./*.mdx') // returns an array of posts that live at ./src/pages/post/*.md
const posts = allPosts.filter((post) => !post.frontmatter.draft)
---

<Layout title="Kharann • All posts">
	<section>
		<h1 class="text-4xl font-bold text-primary-9">Blog</h1>
		<p class="my-4">
			Here you can find all the posts I've written. I write about web development, technology, and
			other things I find interesting.
		</p>
		<Section name="All posts.">
			<PreviewPosts posts={posts} />
		</Section>
	</section>
</Layout>
