---
import { format } from 'date-fns'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'

const allPosts = await Astro.glob('./*.mdx') // returns an array of posts that live at ./src/pages/post/*.md
const posts = allPosts.filter((post) => !post.frontmatter.draft)
---

<Layout title="Kharann • All posts">
	<section>
		<h1 class="text-4xl font-bold text-primary-9">Blog</h1>
		<p class="my-4">
			Here you can find all the posts I've written. I write about web development, technology, and
			other things I find interesting.
		</p>
		<Section name="All posts.">
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={post.url}>
								<article class="text-foreground hover:text-highlight">
									<h3 class="mt-4 text-xl text-inherit">{post.frontmatter.title}</h3>
									<p class="flex items-center justify-between">
										<span class="text-gray dark:text-gray-300">
											{format(new Date(post.frontmatter.pubDate), 'LLLL dd, y')}
										</span>
										<span class="text-gray dark:text-gray-300">
											{post.frontmatter.minutesRead} min read
										</span>
									</p>
								</article>
							</a>
						</li>
					))
				}
			</ul>
		</Section>
	</section>
</Layout>
