---
import Layout from '../layouts/Layout.astro'
import Divider from '../components/divider.svelte'
import { fetchFrontpageData } from '../api/frontpage'

const { introduction } = await fetchFrontpageData()
---

<Layout title="Welcome to Astro.">
	<section class="mt-4">
		<h1 class="mb-2 text-4xl font-bold">
			Hi, my name is
			<span class="font-hack font-bold text-primary">Anhkha 👋</span>
		</h1>
		<byline class="text-lg">{introduction.role}</byline>
	</section>
	<section class="mt-8">
		<h2 class="pb-2 text-2xl font-bold text-primary-0">About me</h2>
		<Divider />
	</section>
</Layout>
