---
import { Picture } from '@astrojs/image/components'

type Image = {
	src: string
	alt: string
}
export interface Props {
	images: [Image, Image]
}
const { images } = Astro.props
---

<div class="grid sm:grid-cols-2 my-8">
	<Picture
		src={images[0].src}
		alt={images[0].alt}
		widths={[600, 330]}
		sizes={'(max-width: 660px), 100vw'}
		class="m-0"
		aspectRatio={16 / 9}
	/>
	<Picture
		src={images[1].src}
		alt={images[1].alt}
		widths={[600, 330]}
		class="m-0"
		sizes={'(max-width: 660px), 100vw'}
		aspectRatio={16 / 9}
	/>
</div>
