---
import { Image } from 'astro:assets'

type Image = {
	src: string
	alt: string
}
export interface Props {
	images: [Image, Image]
}
const { images } = Astro.props
---

<div class="grid sm:grid-cols-2 my-8">
	<Image
		src={images[0].src}
		alt={images[0].alt}
		width="600"
		height="200"
		class="m-0"
	/>
	<Image
		src={images[1].src}
		alt={images[1].alt}
		width="600"
		height="200"
		class="m-0"
	/>
</div>
