---
import Divider from './divider.svelte'
import clsx from 'clsx'

export interface Props {
	name?: string
	className?: string
}

const { name, className } = Astro.props
---

<section class={clsx('mt-8', className)}>
	{
		name ? (
			<>
				<h2 class="pb-2 text-2xl font-bold text-brand-2">{name}</h2>
				<Divider />
			</>
		) : null
	}
	<slot />
</section>
