---
import clsx from 'clsx'

export interface Props {
	name?: string
	className?: string
}

const { name, className } = Astro.props
---

<section class={clsx('mt-8', className)}>
	{
		name ? (
			<>
				<h2 class="pb-2 text-2xl font-bold text-brand-9 dark:text-brand-3">{name}</h2>
				<div class="border-brown-11 mb-2 w-24 border-b-4" />
			</>
		) : null
	}
	<slot />
</section>
